.collageContainer {
    position: absolute;
    left: 50%;
    top: 0%;
    transform:translate(-50%);

    height: 100vh;
    overflow-y: hidden;

    display: flex;
    flex-direction: row;
    gap: 20px;

    filter: blur(2px);
}

.collageColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dummyImage {
    flex-shrink: 0;

    width: 200px;
    height: 300px;

    background-image: url('/header_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}