.bankAccount {
  padding: 10px 10px 0 10px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.accordion {
  padding-top: 10px;
  overflow: hidden;
}

.item {
  margin-bottom: 12px;
}

.rowFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 16px;
}

.buttonContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}

.copyButton {
  width: 24px;
  height: 24px;
  background-image: url("/copy.png");
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.kakaobankButton {
  width: 24px;
  height: 24px;
  background-image: url("/kakaotalk.png");
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.iconAccordion {
  width: 12px;
  height: 12px;
  background-image: url("/accordion.png");
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.iconAccordionOpen {
  transform: rotate(180deg);
}