.calendarContainer {
  margin: 20px auto;
  max-width: 350px;
}

.react-calendar {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;

  width: 100%;
  pointer-events: none;
}

.react-calendar__tile {
  background: none !important;
  border: none !important;
}

.react-calendar .highlight {
  background-color: #d9c8bd !important;
  border: 1px solid #d9c8bd !important;
  border-radius: 20%;
}

.react-calendar__navigation__arrow {
  display: none !important;
}