.mapButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 420px;
  margin: 16px auto;
}
.mapButton {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  justify-content: center;
  height: 36px;
}
.iconSmall {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  border-radius: 7px;
  overflow: hidden;
}
.naverIcon {
  background-image: url("/navermap.png");
}
.kakaoIcon {
  background-image: url("/kakaomap.png");
}
.tmapIcon {
  background-image: url("/tmap.png");
}
.mapButtonDivider {
  display: flex;
  align-items: center;
  color: #bbb;
  font-size: 18px;
  user-select: none;
  margin: 0 0.5em;
}