@font-face {
  font-family: "MaruBuri";
  src: url("/fonts/MaruBuri-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "MaruBuriBold";
  src: url("/fonts/MaruBuri-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "NanumHanYunCe";
  src: url("/fonts/NanumHanYunCe.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Cherolina";
  src: url("/fonts/Cherolina.ttf") format("truetype");
  font-weight: normal;
}

:root {
  --background: #F4F4F4;
  --foreground: #493628;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  width: auto;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  color: var(--foreground);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "MaruBuri", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.body {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  gap: 30px;
}

.detail {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  gap: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  gap: 5px;
}

.header {
  font-size: 16px;
}

.content {
  font-size: 14px;
}

.little {
  font-size: 12px;
}