.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #d9c8bd 0%, #f4f4f4 50%, #f4f4f4 100%);
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #dddddd;
  border-top: 5px solid #d9d4cf;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  position: absolute;
  min-height: 100svh;
  width: 400px;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100svh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.headercover {
  flex-shrink: 0;
  height: 525px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 1;
  gap: 30px;
  padding: 150px 45px 100px 45px;
  background: linear-gradient(
    to bottom,
    #f4f4f400 0%,
    #f4f4f4 150px,
    #f4f4f4 100%
  );
  overflow-y: auto;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--foreground);
}

.footer {
  background-color: var(--foreground);
  color: var(--background);
  padding: 2px;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .page {
    width: 100vw;
    left: 0;
    transform: none;
  }
  .main {
    padding: 150px 20px 100px 20px;
  }
  .footer {
    padding: 5px;
  }
  .headercover {
    height: calc(100svh - 146px);
    position: relative;
    overflow: hidden;
  }
}